<!DOCTYPE html>
{% extends 'base.html' %} {% block title %} Quiz Time! {% endblock %} {% block
content %}
<div class="container mt-lg-5">
  <div class="quiz-container" id="quiz-container-el">
    <h2 class="text-center">CLICK THE BUTTON TO START</h2>
    <button type="submit" class="btn btn-primary mt-4 mb-4 text-center" id="start-quiz-btn-el">CLICK ME TO START</button>
  </div>
</div>
{% endblock %} 
{% block js %}
<script src="{{ url_for('.static', filename='script.js') }}"></script>
{% endblock %}