<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
<title>Create a Budget</title>
</head>

<body>
    <div class="header">
        <h1>Create a Budget</h1>
    </div>
    <ul>
        <li id="link"><a href="HTML PAGE 1.HTML">Create a Budget</a></li>
        <li id="link" class="dropdown">
            <a href="HTML PAGE 6.html" class="dropbtn">Adults</a>
            <div class="dropdown-content">
                <a href="HTML PAGE 7.html">Create a Budget</a>
                <a href="HTML PAGE 8.html">Pay off Debt</a>
                <a href="HTML PAGE 9.html">Plan for Retirement</a>
            </div>
            <li id="link"><a href="HTML PAGE 2.HTML">Kids</a></li>
            <li id="link"><a href="HTML PAGE 10.HTML">Trading</a></li>
            </li>
    </ul>
    <h1 id="title1">Create a Budget</h1>
    <p>Most people need some way of seeing where their money is going each month. A budget can help you feel more in control of your finances and make it easier to save money for your goals. The trick is to figure out a way to track your finances that works for you. The following steps can help you create a budget.</p>
    <h2 id="title2">How to create a Budget?</h2>
    <p>
        <ol>
            <li>Calculate your net income</li>
            <li>Track your spending</li>
            <li>Set realistic goal</li>
            <li>Make a plan</li>
            <li>Adjust your spending to stay on budget</li>
            <li>Review your budget regularly</li>
        </ol>
    </p>
    <a href="HTML PAGE 6.html" class="previous">&laquo; Previous</a>
    <a href="HTML PAGE 8.html" class="next">Next &raquo;</a>
</html>
<!--quiz-->