<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
<title>Trading</title>
</head>

<body>
    <div class="header">
        <h1>Trading</h1>
    </div>
    <ul>
        <li id="link"><a href="HTML PAGE 1.HTML">Home</a></li>
        <li id="link" class="dropdown">
            <a href="HTML PAGE 10.html" class="dropbtn">Trading</a>
            <div class="dropdown-content">
                <a href="HTML PAGE 11.html">Market</a>
                <a href="HTML PAGE 12.html">Stock</a>
                <a href="HTML PAGE 13.html">Strategy for Trading</a>
            </div>
            <li id="link"><a href="HTML PAGE 2.HTML">Kids</a></li>
            <li id="link"><a href="HTML PAGE 10.HTML">Adults</a></li>
            </li>
    </ul>
    <h1 id="title1">Investment VS Trading: What is the difference?</h1>
    <h2 id="title2">Overview</h2>
    <p>Investing and trading are two different methods of attempting to profit in the financial markets. Both investors and traders seek profits through market participation. Investors generally seek larger returns over an extended period through buying and holding. Traders, by contrast, take advantage of both rising and falling markets to enter and exit positions over a shorter time frame, taking smaller, more frequent profits.</p>
    <h1 id="title1">Investing</h2>
    <p>The goal of investing is to gradually build wealth over an extended period of time. This is done by buying and holding a portfolio of one or more asset classes. This can include stocks, baskets of stocks, mutual funds, bonds, exchange-traded funds (ETFs), and other investment instruments.</p>
    <p>Investments are often held for a period of years or even decades, taking advantage of perks like interest, dividends, and stock splits along the way.</p>
    <p>While markets inevitably fluctuate, investors typically ride out the downtrends with the expectation that prices will rebound and any losses eventually will be recovered. Investors are generally more concerned with market fundamentals, such as price-to-earnings (P/E) ratios and management forecasts.</p>
    <h2 id="title2">Investing Style</h2>
    <p>
        <ol>
            <li>Active Investing</li>
            <p>Investors who take an active investing approach usually tend to monitor the markets on a regular basis and make changes accordingly. Active investors generally seek out particular investments that try to mimic or outperform the returns of a specific benchmark index.</p>
            <li>Passive Investing</li>
            <p>Passive investors follow a buy-and-hold strategy. This type of investor does not make an effort to closely monitor the markets on a daily or even regular basis. The goal of passive investing is to track the returns of the benchmark index.</p>
        </ol>
    </p>
    <h1 id="title1">Trading</h2>
    <a href="HTML PAGE 5.html" class="previous">&laquo; Previous</a>
    <a href="HTML PAGE 7.html" class="next">Next &raquo;</a>
</html>
<!--quiz-->