<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
<html>
<head>
<link rel="stylesheet" href="{{ url_for('lesson.static', filename='style.css') }}">
<title>Pay off Debt</title>
</head>

<body>
    <div class="header">
    </div>
    <ul>
        <li id="link"><a href="HTML_PAGE_1">Pay off Debt</a></li>
        <li id="link" class="dropdown">
            <a href="HTML_PAGE_6" class="dropbtn">Adults</a>
            <div class="dropdown-content">
                <a href="HTML_PAGE_7">Create a Budget</a>
                <a href="HTML_PAGE_8">Pay off Debt</a>
                <a href="HTML_PAGE_9">Plan for Retirement</a>
            </div>
            <li id="link"><a href="HTML_PAGE_2">Kids</a></li>
            <li id="link"><a href="HTML_PAGE_10">Trading</a></li>
            </li>
            <li id="link"><a class="nav-link" href="{{url_for('lesson.knowledge_page')}}">More knowledge</a></li>
    </ul>
    <h1 id="title1">Get Your Credit Card Under Control</h1>
    <p>Managing credit card debt is key to financial security—yet many older adults can’t make ends meet without putting daily expenses on a charge card.</p>
    <p>It can be difficult for older adults on fixed incomes to pay down balances. As a result, mounting credit card debt becomes a tremendous stressor.</p>
    <p>While it can be challenging, it is possible to get credit card debt under control. These 5 key strategies can help.</p>
    <h2 id="title2">5 key strategies to help you get your credit card debt under control</h2>
    <p>
        <ol>
            <li>Contact your credit card companies</li>
            <p id="p2">Before you pick up the phone, you’ll want to be as prepared as you can be, she said. That includes reviewing your income and expenses in advance and figuring out how much you can reasonably afford to pay back each month. Be ready to explain why you can’t cover your minimum monthly payment(s)</p>
            <li>Understand the two ways to pay off credit card debt</li>
            <p id="p2">Paying off your credit cards one at a time. However, you prioritize their order based on interest rate, not balance. You’ll start by paying the monthly minimums on each of your cards; then, you’ll apply any extra to the card with the highest interest rate. Once you pay that card off, you add what you had been paying on it to your monthly payment on the card with the next-highest interest rate.</p>
            <li>Consider a debt management plan</li>
            <p id="p2">A debt management plan eliminates the need to juggle different payments and due dates. It can help you meet your debt obligations without worrying about late fees and harassing calls from debt collection agencies.</p>
            <li>Participate in credit counseling</li>
            <p id="p2">Credit counseling services offer expert guidance to help you navigate your way out of debt.However, before you take this step, be sure to do your research,</p>
            <li>Get your money muscles in peak shape</li>
            <p id="p2">The Consumer Financial Protection Bureau helps people learn vital money management and debt reduction skills. </p>
        </ol>
    </p>
    <a href="HTML_PAGE_7" class="previous">&laquo; Previous</a>
    <a href="HTML_PAGE_9" class="next">Next &raquo;</a>
</html>
{% endblock %}