<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
<html>
<head>
<link rel="stylesheet" href="{{ url_for('lesson.static', filename='style.css') }}">
<title>Adults</title>
</head>

<body>
    <div class="header">
    </div>
    <ul>
        <li id="link"><a href="HTML_PAGE_1">Home</a></li>
        <li id="link" class="dropdown">
            <a href="HTML_PAGE_6" class="dropbtn">Adults</a>
            <div class="dropdown-content">
                <a href="HTML_PAGE_7">Create a Budget</a>
                <a href="HTML_PAGE_8">Pay off Debt</a>
                <a href="HTML_PAGE_9">Plan for retirement</a>
            </div>
            <li id="link"><a href="HTML_PAGE_2">Kids</a></li>
            <li id="link"><a href="HTML_PAGE_10">Trading</a></li>
            </li>
    </ul>
    <h1 id="title1">Financial Literacy for Adults</h1>
    <p>The peak of your financial comfort and intelligence should be as an adult. But, you can always learn more about how to manage your finances. The key to financial prowess is to keep learning more and more about what you are doing, what you should be doing, and what you plan to do.</p>
    <p>Life is now introducing many avenues into your financial awareness: mortgages, car, loans, businesses, employment, retirement, etc. Be sure to keep yourself well-versed on financial literacy to tackle these unfamiliar settings.</p>
    <h2 id="title2">Importance of Financial Literacy</h2>
    <p>
        <ol>
            <li>Ability to make better financial decisions</li>
            <li>Effective management of money and debt</li>
            <li>Greater equipped to reach financial goals</li>
            <li>Reduction of expenses through better regulation</li>
            <li>Less financial stress and anxiety</li>
            <li>Increase in ethical decision-making when selecting insurance, loans, investments, and using a credit card</li>
            <li>Effective creation of a structured budget</li>
          </ol> 
    </p>
    <a href="HTML_PAGE_5" class="previous">&laquo; Previous</a>
    <a href="HTML_PAGE_7" class="next">Next &raquo;</a>
</html>
<!--quiz-->
{% endblock %}