<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
<title>Earning</title>
</head>

<body>
    <div class="header">
        <h1>Earning</h1>
    </div>
    <ul>
        <li id="link"><a href="HTML PAGE 1.HTML">Earning</a></li>
        <li id="link" class="dropdown">
            <a href="HTML PAGE 2.html" class="dropbtn">Kids</a>
            <div class="dropdown-content">
                <a href="HTML PAGE 3.html">Earning</a>
                <a href="HTML PAGE 4.html">Saving</a>
                <a href="HTML PAGE 5.html">Spending</a>
            </div>
            <li id="link"><a href="HTML PAGE 6.HTML">Adults</a></li>
            <li id="link"><a href="HTML PAGE 10.HTML">Trading</a></li>
            </li>
    </ul>
    <h1 id="title1">How can children earn money?</h1>
    <p>Adults must earn money to provide for their needs and wants. In this lesson children learn that money is earned and does not come free. Children also learn that money is limited in quantity.  Early training in earning small amounts of money provides a foundation and understanding that work and money are connected.</p>
    <p>Young children perform certain tasks at home just because they are part of the family or household. Children can do additional tasks to earn money for their spending plans. Children need to distinguish between shared responsibilities as members of a family and responsibilities that earn them money.  This lesson introduces young children to activities and ideas for earning money. The money earned helps children meet their financial goals. Remember that the financial goals for a preschool-aged child may seem simple to an adult, but they are not simple to the child. Children learn the concept that money is a reward for working.</p>
    <h2 id="title2">Goals</h2>
    <p>Develop an understanding about working to acquire resources to meet needs and wants. </p>
    <h2 id="title2">Lesson Objective</h2>
    <p>
        <ol>
            <li>Recognize that money is earned from work done. </li>
            <li>Understand that money is limited in quantity</li>
        </ol> 
    </p>
    <h2 id="title2">How can children Earn Money?</h2>
    <p>
        <ol>
            <li>Do chores and odd jobs around the house or neighborhood</li>
            <li>Babysit, walk dogs and feed pets for pay</li>
            <li>Sell your stuff in person or online</li>
            <li>Sell lemonade in the summer or hot cocoa in the winter</li>
            <li>Teach others a skill</li>
            <li>Find local gigs through Nextdoor</li>
            <li>Freelance</li>
            <li>Tutor your peers</li>
            <li>Take surveys</li>
            <li>Search for regular jobs for kids</li>
            <li>Monetize your social media accounts</li>
            <li>Get paid to stream on Twitch</li>
        </ol>
    </p>
    <a href="HTML PAGE 2.html" class="previous">&laquo; Previous</a>
    <a href="HTML PAGE 4.html" class="next">Next &raquo;</a>
</html>
<!--quiz-->