<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
<title>Pay off Debt</title>
</head>

<body>
    <div class="header">
        <h1>Pay off Debt</h1>
    </div>
    <ul>
        <li id="link"><a href="HTML PAGE 1.HTML">Pay off Debt</a></li>
        <li id="link" class="dropdown">
            <a href="HTML PAGE 6.html" class="dropbtn">Adults</a>
            <div class="dropdown-content">
                <a href="HTML PAGE 7.html">Create a Budget</a>
                <a href="HTML PAGE 8.html">Pay off Debt</a>
                <a href="HTML PAGE 9.html">Plan for Retirement</a>
            </div>
            <li id="link"><a href="HTML PAGE 2.HTML">Kids</a></li>
            <li id="link"><a href="HTML PAGE 10.HTML">Trading</a></li>
            </li>
    </ul>
    <h1 id="title1">Get Your Credit Card Under Control</h1>
    <p>Managing credit card debt is key to financial security—yet many older adults can’t make ends meet without putting daily expenses on a charge card.</p>
    <p>It can be difficult for older adults on fixed incomes to pay down balances. As a result, mounting credit card debt becomes a tremendous stressor.</p>
    <p>While it can be challenging, it is possible to get credit card debt under control. These 5 key strategies can help.</p>
    <h2 id="title2">5 key strategies to help you get your credit card debt under control</h2>
    <p>
        <ol>
            <li>Contact your credit card companies</li>
            <li>Understand the two ways to pay off credit card debt</li>
            <li>Consider a debt management plan</li>
            <li>Participate in credit counseling</li>
            <li>Get your money muscles in peak shape</li>
        </ol>
    </p>
    <a href="HTML PAGE 7.html" class="previous">&laquo; Previous</a>
    <a href="HTML PAGE 9.html" class="next">Next &raquo;</a>
</html>
<!--quiz-->