<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
<html>
<head>
<link rel="stylesheet" href="{{ url_for('lesson.static', filename='style.css') }}">
<title>Plan for Retirement</title>
</head>

<body>
    <div class="header">
    </div>
    <ul>
        <li id="link"><a href="HTML_PAGE_1">Plan for Retirement/a></li>
        <li id="link" class="dropdown">
            <a href="HTML_PAGE_6" class="dropbtn">Adults</a>
            <div class="dropdown-content">
                <a href="HTML_PAGE_7">Create a Budget</a>
                <a href="HTML_PAGE_8">Pay off Debt</a>
                <a href="HTML_PAGE_9">Plan for Retirement</a>
            </div>
            <li id="link"><a href="HTML_PAGE_2">Kids</a></li>
            <li id="link"><a href="HTML_PAGE_10">Trading</a></li>
            </li>
    </ul>
    <h1 id="title1">Facts</h1>
    <p>Only about half of Malaysians have calculated how much they need to save for retirement</p>
    <p>The average Malaysians spends roughly 20 years in retirement. </p>
    <p>Putting money away for retirement is a habit we can all live with. </p>
    <h2 id="title2">Top 10 Ways to Prepare for Your Retirement</h2>
    <p>
        <ol>
            <li>Start saving, keep saving, and stick toyour goals</li>
            <p>If you are already saving, whether for retirement or
                another goal, keep going! You know that saving is a
                rewarding habit. If you’re not saving, it’s time to get
                started. Start small if you have to and try to increase
                the amount you save each month. The sooner you start
                saving, the more time your money has to grow</p>
            <li>Know your retirement needs</li>
            <p>Retirement is expensive. Experts estimate that you
                will need 70 to 90 percent of your preretirement
                income to maintain your standard of living when you
                stop working. Take charge of your financial future.
                The key to a secure retirement is to plan ahead</p>
            <li>Contribute to your employer’s retirement savings plan</li>
            <p>Over time, compound interest and tax deferrals make
                a big difference in the amount you will accumul</p>
            <li>Learn about your employer’s pension plan</li>
            <p>If your employer has a traditional pension plan,
                check to see if you are covered by the plan and
                understand how it works. Ask for an individual
                benefit statement to see what your benefit is
                worth. Before you change jobs, find out what
                will happen to your pension benefit. Learn what
                benefits you may have from a previous</p>
            <li> Consider basic investment principles</li>
            <p>Inflation and the type of investments
                you make play important roles in how much
                you’ll have saved at retirement. Know how
                your savings or pension plan is invested. Learn
                about your plan’s investment options and ask
                questions. Put your savings in different types of
                investments.</p>
            <li> Don’t touch your retirement savings</li>
            <p>If you withdraw your retirement savings now,
                you’ll lose principal and interest and you may lose
                tax benefits or have to pay withdrawal penalties.
                If you change jobs, leave your savings invested in
                your current retirement plan</p>
            <li>Ask your employer to start a plan</li>
            <p>If your employer doesn’t offer a retirement plan,
                suggest that it start one. There are a number of
                retirement saving plan options available. Your
                employer may be able to set up a simplified plan
                that can help both you and your employe</p>
            <li>Put money into an Individual Retirement Account</li>
            <p>You can put up to RM6,500 a year into an Individual
                Retirement Account (IRA); you can contribute even
                more if you are 50 or older. You can also start with
                much less. IRAs also provide tax advantages.</p>
            <li> Find out about your Social Security benefits</li>
            <p>On average, Social Security retirement benefits
                replace 40 percent of pre-retirement income for
                retirement beneficiaries. The amount of your wages
                that Social Security retirement benefits replace varies
                depending on your earnings and the age you choose to
                start receiving benefits</p>
            <li>Ask Questions</li>
            <p>While these tips are meant to point you in the right
                direction, you’ll need more information. Read our
                publications listed on the back panel. Talk to your
                employer, your bank, your union, or a financial
                adviser. Ask questions and make sure you understand
                the answers. Get practical advice and act now.</p>
        </ol>
    </p>
    <a href="HTML_PAGE_8" class="previous">&laquo; Previous</a>
    <a href="HTML_PAGE_10" class="next">Next &raquo;</a>
</html>
<!--quiz-->
{% endblock %}