<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
<html>
<head>
<link rel="stylesheet" href="{{ url_for('lesson.static', filename='style.css') }}">
<title>Market</title>
</head>

<body>
    <div class="header">
    </div>
    <ul>
        <li id="link"><a href="HTML_PAGE_1">Home</a></li>
        <li id="link" class="dropdown">
            <a href="HTML_PAGE_6" class="dropbtn">Trading</a>
            <div class="dropdown-content">
                <a href="HTML_PAGE_7">Market</a>
                <a href="HTML_PAGE_8">Stock</a>
                <a href="HTML_PAGE_9">Strategy for Trading</a>
            </div>
            <li id="link"><a href="HTML_PAGE_2">Kids</a></li>
            <li id="link"><a href="HTML_PAGE_10">Adults</a></li>
            </li>
            <li id="link"><a class="nav-link" href="{{url_for('lesson.knowledge_page')}}">More knowledge</a></li>
    </ul>
    <h1 id="title1">How do Market Works?</h1>
    <p>The market lets buyers and sellers negotiate prices. This negotiation process maximizes fairness for both parties by providing both the highest possible selling price and the lowest possible buying price at a given time. Each exchange tracks the supply and demand of stocks listed there.</p>
    <h2 id="title2">Buying and Selling</h2>
    <p>
        <ol>
            <li>Bull market</li>
            <p>A rising market. A bull is an investor who expects prices to rise and, on this assumption, purchases a security or commodity in hopes of reselling it later for a profit. A bullish market is one in which prices are generally expected to rise.</p>
            <li>Bear market</li>
            <p>A driven market decline of 20% or more. A bear market often coincides with a weakening economy, massive liquidation of securities, and widespread investor fear and pessimism.</p>
            <li>Going Long</li>
            <p>A stock means that you own it and will profit if the stock rises.</p>
            <li>Going Short</li>
            <p>A stock means that you have a negative position in the stock and will profit if the stock falls.</p>
            <li>Diversification</li>
            <p>Diversification is a risk management strategy that creates a mix of various investments within a portfolio. A diversified portfolio contains a mix of distinct asset types and investment vehicles in an attempt to limit exposure to any single asset or risk.</p>
            <h2 id="title2">Methods for diversification</h2>
            <ol>
                <li>Horizontal diversification</li>
                <p>A company adds new products to its operation. These products or services are entirely new but will bear some relation to the original product, offering an expanded set of options to the customer. </p>
                <li>Vertical diversification</li>
                <p>A company expands to include different portions of the manufacturing process under one corporate structure, usually by moving up or down the supply chain.</p>
                <li>Concentric diversification</li>
                <p>A company develops a new, improved product related to its existing product.</p>
                <li>Conglomerate diversification</li>
                <p>When a company diversifies by acquiring a different company in an entirely unrelated field or new industry, it’s known as conglomerate diversification.</p>
            </ol>
        </ol>
    </p>
    <a href="HTML_PAGE_10" class="previous">&laquo; Previous</a>
    <a href="HTML_PAGE_12" class="next">Next &raquo;</a>
</html>
<!--quiz-->
{% endblock %}