<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
<title>Plan for Retirement</title>
</head>

<body>
    <div class="header">
        <h1>Plan for Retirement</h1>
    </div>
    <ul>
        <li id="link"><a href="HTML PAGE 1.HTML">Plan for Retirement/a></li>
        <li id="link" class="dropdown">
            <a href="HTML PAGE 6.html" class="dropbtn">Adults</a>
            <div class="dropdown-content">
                <a href="HTML PAGE 7.html">Create a Budget</a>
                <a href="HTML PAGE 8.html">Pay off Debt</a>
                <a href="HTML PAGE 9.html">Plan for Retirement</a>
            </div>
            <li id="link"><a href="HTML PAGE 2.HTML">Kids</a></li>
            <li id="link"><a href="HTML PAGE 10.HTML">Trading</a></li>
            </li>
    </ul>
    <h1 id="title1">Facts</h1>
    <p>Only about half of Malaysians have calculated how much they need to save for retirement</p>
    <p>KWSP</p>
    <p>The average Malaysians spends roughly 20 years in retirement. </p>
    <p>Putting money away for retirement is a habit we can all live with. </p>
    <h2 id="title2">Top 10 Ways to Prepare for Your Retirement</h2>
    <p>
        <ol>
            <li>Start saving, keep saving, and stick toyour goals</li>
            <li>Know your retirement needs</li>
            <li>Contribute to your employer’s retirement savings plan</li>
            <li>Learn about your employer’s pension plan</li>
            <li> Consider basic investment principles</li>
            <li> Don’t touch your retirement savings</li>
            <li>Ask your employer to start a plan</li>
            <li>Put money into an Individual Retirement Account</li>
            <li> Find out about your Social Security benefits</li>
            <li>Ask Questions</li>
        </ol>
    </p>
    <a href="HTML PAGE 7.html" class="previous">&laquo; Previous</a>
    <a href="HTML PAGE 9.html" class="next">Next &raquo;</a>
</html>
<!--quiz-->