<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}
<html>
<head>
<link rel="stylesheet" href="{{ url_for('lesson.static', filename='style.css') }}">
<title>Trading</title>
</head>

<body>
    <div class="header">
        <h1>Trading</h1>
    </div>
    <ul>
        <li id="link"><a href="HTML_PAGE_1">Home</a></li>
        <li id="link" class="dropdown">
            <a href="HTML_PAGE_10" class="dropbtn">Trading</a>
            <div class="dropdown-content">
                <a href="HTML_PAGE_11">Market</a>
                <a href="HTML_PAGE_12">Stock</a>
                <a href="HTML_PAGE_13">Strategy for Trading</a>
            </div>
            <li id="link"><a href="HTML_PAGE_2">Kids</a></li>
            <li id="link"><a href="HTML_PAGE_10">Adults</a></li>
            </li>
    </ul>
    <h1 id="title1">Investment VS Trading: What is the difference?</h1>
    <h2 id="title2">Overview</h2>
    <p>Investing and trading are two different methods of attempting to profit in the financial markets. Both investors and traders seek profits through market participation. Investors generally seek larger returns over an extended period through buying and holding. Traders, by contrast, take advantage of both rising and falling markets to enter and exit positions over a shorter time frame, taking smaller, more frequent profits.</p>
    <h1 id="title1">Investing</h2>
    <p>The goal of investing is to gradually build wealth over an extended period of time. This is done by buying and holding a portfolio of one or more asset classes. This can include stocks, baskets of stocks, mutual funds, bonds, exchange-traded funds (ETFs), and other investment instruments.</p>
    <p>Investments are often held for a period of years or even decades, taking advantage of perks like interest, dividends, and stock splits along the way.</p>
    <p>While markets inevitably fluctuate, investors typically ride out the downtrends with the expectation that prices will rebound and any losses eventually will be recovered. Investors are generally more concerned with market fundamentals, such as price-to-earnings (P/E) ratios and management forecasts.</p>
    <h2 id="title2">Investing Style</h2>
    <p>
        <ol>
            <li>Active Investing</li>
            <p>Investors who take an active investing approach usually tend to monitor the markets on a regular basis and make changes accordingly. Active investors generally seek out particular investments that try to mimic or outperform the returns of a specific benchmark index.</p>
            <li>Passive Investing</li>
            <p>Passive investors follow a buy-and-hold strategy. This type of investor does not make an effort to closely monitor the markets on a daily or even regular basis. The goal of passive investing is to track the returns of the benchmark index.</p>
        </ol>
    </p>
    <h1 id="title1">Trading</h2>
    <p>Trading involves more frequent transactions, such as the buying and selling of stocks, commodities, currency pairs, or other instruments. The goal is to generate returns that outperform buy-and-hold investing. While investors may be content with annual returns of 10% to 15%, traders might seek a 10% return each month.</p>
    <p>Trading profits are generated by buying at a lower price and selling at a higher price within a relatively short period of time. The reverse is also true: trading profits can be made by selling at a higher price and buying to cover at a lower price (known as selling short) to profit in falling markets.</p>
    <p>While buy-and-hold investors wait out less profitable positions, traders seek to make profits within a specified period of time and often use a protective stop-loss order to close out losing positions at a predetermined price level automatically. Traders often employ technical analysis tools, such as moving averages and stochastic oscillators, to find high-probability trading setups.</p>
    <h2 id="title2">Trading Style</h2>
    <p>
        <ol>
            <li>Position Trader</li>
            <p>Positions are held from months to years</p>
            <li>Swing Trader</li>
            <p>Positions are held from days to weeks</p>
            <li>Day Trader</li>
            <p>Positions are held throughout the day only with no overnight positions</p>
            <li>Scalp Trader</li>
            <p>Positions are held for seconds to minutes with no overnight positions</p>
        </ol>
    </p>
    <a href="HTML_PAGE_9" class="previous">&laquo; Previous</a>
    <a href="HTML_PAGE_11" class="next">Next &raquo;</a>
</html>
<!--quiz-->
{% endblock %}