<!DOCTYPE html>
<html>
<head>
    <title>Financial Literacy</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <h1>Financial Literacy For Kids</h1>
    </div>
    <ul>
        <li id="link"><a href="..\project\HTML PAGE 1.HTML">Home</a></li>
        <li id="link" class="dropdown">
            <a href="..\project\HTML PAGE 2.html" class="dropbtn">Kids</a>
            <div class="dropdown-content">
                <a href="..\project\HTML PAGE 3.html">Earning</a>
                <a href="..\project\HTML PAGE 4.html">Saving</a>
                <a href="..\project\HTML PAGE 5.html">Spending</a>
            </div>
        </li>
        <li id="link"><a href="..\project\HTML PAGE 6.HTML">Adults</a></li>
        <div class="dropdown-content">
            <a href="..\project\HTML PAGE 7.html">Create a Budget</a>
            <a href="..\project\HTML PAGE 8.html">Pay off Debt</a>
            <a href="..\project\HTML PAGE 9.html">Plan for retirement</a>
        </div>
        <li id="link"><a href="..\project\HTML PAGE 10.HTML">Trading</a></li>
        <div class="dropdown-content">
            <a href="..\project\HTML PAGE 11.html">Basic Knowledge</a>
            <a href="..\project\HTML PAGE 12.html">Trading Strategies</a>
            <a href="..\project\HTML PAGE 13.html">Stocks</a>
        </div>
    </ul>
    <h1 id="title1">What is Financial Literacy</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4j2emMn7UaI?si=ZtTrnKFCg8eTL-Ni" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h2 id="title2">Understanding Financial Literacy</h2>
    <div class="column11">
        <p> -Financial literacy is the ability to understand and effectively use various financial skills,  <br /> 
            -including personal financial management, budgeting, and investing.<br /> 
        </p>
        <p> -When you are financially literate, you have the essential foundation for a smart relationship with money.  <br /> 
            -his can help start a lifelong journey of learning about the financial aspects of your life. <br /> 
            -The earlier you start to become financially literate, the better off you'll be because education is the key to a successful financial future.<br />
        </p>
    </div>
    <h2 id="title2">Importance of  Financial Literacy</h2>
    <ol>
        <div class="row1">
            <div class="column1">
                <li>To make business activities more efficient<br />Examples: Microsoft Excel, Word and Powerpoint.</li>
            </div>
            <div class="column1">
                <li>To provide communications <br />Examples: E-mail, web browser, Whatsapp and Messenger.<br />Examples: Canva, Adobe, Microsoft and Publisher.</li>
            </div>
            <div class="column1">
                <li>To assist with multimedia and graphics project</li>
            </div>
            <div class="column1">
                <li>To support home, personal and educational tasks<br />Examples: Google Classroom, Canvas and ClassDojo</li>
            </div>
        </div>
    </ol>
</body>
</html>
