* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(4, 9, 28, 0.9), rgba(4, 9, 28, 0.8)), url('./images/quiz-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none
}

.cash-div {
    position: absolute;
    left: 80%;
    top: 10%;
    font-size: 1.2em;
}

.typewriter-container {
    margin: 20px 0;
  }

.typewriter-text {
    display: inline-block;
    overflow: hidden; 
    border-right: 0.15em solid orange; 
    white-space: nowrap; 
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
    font-size: 2em;
  }

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}
/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    padding-bottom: 8px;
    background: linear-gradient(currentColor 0 0) 0 100%/0% 3px no-repeat;
    animation: l2 5s linear infinite;
  }
  .loader:before {
    content:"Loading..."
  }
@keyframes l2 {to{background-size: 100% 3px}}

.btn-block {
    display: block;
}