* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}


body {
    background-image: linear-gradient(rgba(4, 9, 28, 0.8), rgba(4, 9, 28, 0.8)), url('./images/quiz-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    padding: 1em;
    margin: 1em;
}

.hidden {
    display: none
}