<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block content %}
    <form action="{{ url_for('trade.buy') }}" class="form-signin" method="post">
        <div class="container">
            <h1>Buy Stock</h1>
        </div>
        <div class="form-label-group">
            <label for="inputText">Symbol</label>
            <input type="text" id="inputText" name="symbol" class="form-control" autocomplete="off" placeholder="Symbol" autofocus required>
        </div>
        <div class="form-label-group">
            <label for="inputNumber">Shares</label>
            <input type="number" id="inputNumber" name="shares" autocomplete="off" class="form-control" placeholder="Shares" min="1" required>
        </div>
        <hr>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Buy</button>
    </form>
{% endblock %}
