{% extends "layout.html" %}

{% block title %}
Stock Recommendations
{% endblock %}

{% block content %}
<div style="text-align: center;">
    <h1>Stock Recommendations</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stock Name</th>
                <th>Stock Price</th>
                <th>Recommendation</th>
            </tr>
        </thead>
        <tbody>
            <hr>
            {% for i in range(names|length) %}
            
            <tr>
                
                <td>{{ names[i] }}</td>
                <td>{{ prices[i] }}</td>
                <td>{{ recommendations.get(names[i], "No recommendation") }}</td>
                
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
